name: Updater

on:
  schedule:
    - cron: 0 3 * * *

jobs:
  updater:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - uses: arduino/setup-task@v1
      - run: task run
        env:
          AIVEN_TOKEN: ${{ secrets.AIVEN_TOKEN }}
          AIVEN_PROJECT_NAME: ${{ secrets.AIVEN_PROJECT_NAME }}
      - id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - uses: peter-evans/create-pull-request@v4
        with:
          author: GitHub <noreply@github.com>
          body: automated changes by [updater](https://github.com/aiven/go-api-schemas/blob/main/.github/workflows/updater.yml) GitHub Actions workflow
          branch: updater/${{ steps.date.outputs.date }}
          commit-message: "chore(updater): bump pkg/dist/*.yml (${{ steps.date.outputs.date }})"
          title: "chore(updater): bump pkg/dist/*.yml (${{ steps.date.outputs.date }})"
